In [4]:
import pandas as pd
df = pd.read_csv('../raw_data/AccountPayables.csv')
df.head()

  invoice_id supplier_id   amount received_date    due_date
0     AP1001      SUP001  1250.50    2025-07-01  2025-07-31
1     AP1002      SUP002   980.00    2025-07-03  2025-08-02
2     AP1003      SUP003  1575.75    2025-07-05  2025-08-04
3     AP1004      SUP001  2100.00    2025-07-10  2025-08-09
4     AP1005      SUP004   430.20    2025-07-12  2025-08-11

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   invoice_id     5 non-null      object
 1   supplier_id    5 non-null      object
 2   amount         5 non-null      float64
 3   received_date  5 non-null      object
 4   due_date       5 non-null      object
dtypes: float64(1), object(4)
memory usage: 332.0+ bytes

In [6]:
df.describe()

            amount
count     5.000000
mean   1267.290000
std     626.915192
min     430.200000
25%     980.000000
50%    1250.500000
75%    1575.750000
max    2100.000000

In [7]:
df.isnull().sum()

invoice_id       0
supplier_id      0
amount           0
received_date    0
due_date         0
dtype: int64